.result_title {
    font-size: 40px;
    font-style: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 5%;
}

div.proofver_result {
    display: block;
    width: 100%;
    margin: 15px 5% 15px 5%;
    height: 200px;
}
.human_result_list {
    margin: 25px 15% 20px 15%;
    border-top: 25px black;
    position: relative;
    width: 70%;
    height: 35%;
}

li.human_result {
    width: 100%;
    height: auto;
    border: 2px 0px;
}
li.human_result:hover {
    background-color: azure;
}

ul.humanCheckList {
    list-style-type: none;
    height: 400px;
    width: 100%;
    overflow-y: scroll;
    display: block;
}

.noHumanResultText {
    font-size: 45px;
    font-weight: bolder;
}

h2 {
    border-top: 15px black;
    text-align: center;
}