div.form-element {
    display: block;
    text-align: center;
}
form.signUpForm {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    display: block;
    text-align: left;
}
label.label-signup {
    margin-left: 20%;
    width: auto;
    text-align: left;
    display: block;
}

input.signup-text {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 40px;
    font-size: 22px;
    display: block;
}

input.signup-vericode {
    width: 30%;
    margin-left: 20%;
    height: 40px;
    font-size: 22px;
    display: inline;
}

.get-verification-code-button {
    width: 200px;
    height: 40px;
    margin-left: 5%;
    border-radius: 15px;
    background-color: #889BDE;
    display: inline-block;
}
.get-verification-code-button:hover {
    background-color: bisque;
}

.sign-up-button {
    width: 30%;
    height: 80px;
    border-radius:15px;
    margin-top: 45px;
    margin-left: 30%;
    background-color: #889BDE;
}
.sign-up-button:hover {
    background-color: #606d9e;
}