div.signin-form-element {
    display: block;
    text-align: center;
}
form.signInForm {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    display: block;
    text-align: center;
}

label.label-signIn {
    font-size: 30px;
    margin-left: 30%;
    width: auto;
    text-align: left;
    display: block;

}

input.signInInput {
    width: 40%;
    height: 40px;
    margin-left: 30%;
    font-size: 30px;
    display: block;
}

input.sign-in-button {
    width: 300px;
    height: 80px;
    border-radius: 15px;
    margin-top: 45px;
    background-color: #889BDE;
}

input.sign-in-button:hover {
    background-color: #606d9e;
    color: white;
}