body {
    background-color: #f1f4f4;
    margin-top: 0%;
}

.nav {
    background-color: #d9d9d9;
    height: 40px;
    width: 150%;
    margin-top: 0px;
    padding: 0% 12px 0% 45px;
    overflow: hidden;
}

.app-logo-nav {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 0px;
    text-align: center;
}
.app-logo-nav:hover {
    zoom: 115%;
}
.nav button {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-align: center;
    
}

.page {
    background-color: #d9d9d9;
    margin: 0 1%;
    height: 40px;
    width: 8%;
}

.page:hover {
    background-color: white;
}

.signInButton {
    background-color: #94DE88;
    position: absolute;
    right: 9%;
    margin: 5px 1%;
    height: 30px;
    width: 8%;
}
.signInButton:hover {
    background-color: #53994a;
}

.signUpButton {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 0px;
    margin-left: 1%;
    height: 40px;
    background-color: #d9d9d9;
    width: 8%;
}
.signUpButton:hover {
    background-color: white;
}
.userName {
    text-align: right;
    background: none;
    position: absolute;
    right: 9%;
    margin: 5px 0%;
    height: 30px;
    width: 25%;
}
.signOutButton {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 0px;
    margin-left: 1%;
    height: 40px;
    width: 8%;
    background-color: #d9d9d9;
}
.signOutButton:hover {
    background-color: white;
}