div.singleLogic {
    float: left;
    display: inline;
    text-align: center;
    margin: 0px 20px ;
}

div.proofverCol {
    float: left;
    display: inline;
    text-align: center;
    margin: 0px 20px;
    border: 25px darkmagenta;
}
div.proofverPlayButtonsRow {
    
    display: block;
}

button.proofverButton {
    margin-left: 5%;
}
